<div class="content admin-section">
  <div class="post row">
    <div class="col-lg-12">

      <div class="panel panel-default table-responsive">
        <!-- Default panel contents -->
        <div class="panel-heading"><h3 class="panel-title">Kitesurf locations</h3></div>
        <!-- Table -->
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Cost</th>
              <th>Spotinfo</th>
              <th>Pro-spot</th>
              <th>Edit</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="location in locations">
              <td>
                <span editable-text="location.name" e-name="name" e-form="locationform" e-required>
                  {{ location.name || 'empty' }}
                </span>
              </td>
              <td>
                <span editable-text="location.cost" e-name="cost" e-form="locationform" e-required>
                  {{ location.cost }}
                </span>
              </td>
              <td>
                 <span editable-text="location.info" e-name="info" e-form="locationform" e-required>
                  {{ location.info }}
                </span>
              </td>
              <td>
                <span editable-select="location.proSpot" e-name="proSpot" e-form="locationform" e-ng-options="bool.value as bool.name for bool in boolValues" e-required>
                  {{ location.proSpot }}
                </span>
              </td>

              <td style="white-space: nowrap">
                <!-- form -->
                <form editable-form onaftersave="saveLocation(location)" name="locationform" ng-show="locationform.$visible" class="form-buttons form-inline" >
                  <button type="submit" ng-disabled="locationform.$waiting" class="btn btn-primary">
                    save
                  </button>
                  <button type="button" ng-disabled="locationform.$waiting" ng-click="locationform.$cancel()" class="btn btn-default">
                    cancel
                  </button>
                </form>
                <div class="buttons" ng-show="!locationform.$visible">
                  <button class="btn btn-primary" ng-click="locationform.$show()">edit</button>
                  <button class="btn btn-danger" ng-click="removeLocation($index)">del</button>
                </div>
              </td>


            </tr>
          </tbody>
        </table>
        <button class="btn btn-default" ng-click="addLocationRow()">Add location</button>
      </div>

    </div>

  </div>
</div>
