<div class="content admin-section">
  <div class="post row">
    <div class="col-lg-12">

      <div class="panel panel-default table-responsive">
        <!-- Default panel contents -->
        <div class="panel-heading"><h3 class="panel-title">Registered users</h3></div>

        <!-- Table -->
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Edit</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Username</th>
              <th>Registration Date</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Level</th>
              <th>Driver's License</th>
              <th>Bus driver</th>
              <th>Own gear</th>
              <th>Own car</th>
              <th>Admin</th>
              <th>Saldo</th>
            </tr>
          </thead>
          <tbod>
            <tr ng-repeat="user in users">
              <td><a href="#/admin/{{ user.$id }}"><span class="glyphicon glyphicon-edit"></span></a></td>
              <td>{{ user.firstName }}</td>
              <td>{{ user.lastName }}</td>
              <td>{{ user.username }}</td>
              <td>{{ user.registrationDate }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.phone }}</td>
              <td>{{ user.level }}</td>
              <td>{{ user.driversLicense }}</td>
              <td>{{ user.busdriver }}</td>
              <td>{{ user.ownGear }}</td>
              <td>{{ user.ownCar }}</td>
              <td>{{ user.isAdmin }}</td>
              <td>{{ user.saldo }}</td>
            </tr>
          </tbod>
        </table>
      </div>

      <br>
    </div>
  </div>
</div>
