<div class="content calendar-section">

  <div class="col-md-8 col-md-offset-2 well">
    <legend>
      My events
    </legend>
    <div class="list-group" ng-repeat="event in myEvents | orderBy: 'startDate' | limitTo:3 ">
      <a href="#/event/{{event.$id}}" class="list-group-item">
        <div>{{event.start | date:"d MMM yyyy 'at' HH:mm"}}</div>
        <div>{{event.title}}</div>
        <span>{{event.location.name}}</span>
        <span class="badge">{{event.numberParticipants}} / {{event.maxNumberParticipants}}</span>
      </a>
    </div>
    <div ng-show="!!!myEvents.length">You have no upcoming events</div>
  </div>

  <div class="col-md-8 col-md-offset-2 well">
    <legend>
      Upcoming events
      <button ng-click="addNewEvent()" class="btn btn-sm btn-primary glyphicon glyphicon-plus pull-right"></button>
    </legend>
      <div class="list-group" ng-repeat="event in allEvents | orderBy: 'startDate' | limitTo:3 ">
        <a href="#/event/{{event.$id}}" class="list-group-item">
          <div>{{event.start | date:"d MMM yyyy 'at' HH:mm"}}</div>
          <div>{{event.title}}</div>
          <span>{{event.location.name}}</span>
          <span class="badge">{{event.numberParticipants}} / {{event.maxNumberParticipants}}</span>
        </a>
      </div>
    <div ng-show="!!!allEvents.length">There are no upcoming events</div>

  </div>

  <div class="col-md-8 col-md-offset-2 well">
    <legend>
      Calendar
      <button ng-click="addNewEvent()" class="btn btn-sm btn-primary glyphicon glyphicon-plus pull-right"></button>
    </legend>
    <div ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="calendar"></div>
  </div>

</div>


