<div class="content calendar-section col-md-8 col-md-offset-2">

  <div id="addNewEventButton">
    <button class="btn btn-default btn-lg btn-primary btn-block" ng-click="addNewEvent()">Add new event</button>
  </div>

  <div class="well">
    <legend>
      My events
    </legend>
    <div class="list-group" ng-repeat="event in myEvents | orderBy: 'startDate' | limitTo:3 ">
      <a href="#/event/{{event.$id}}" class="list-group-item">
        <div>{{event.start | date:"d MMM yyyy 'at' HH:mm"}}</div>
        <div>{{event.title}}</div>
        <span>{{event.location.name}}</span>
        <span class="badge">{{event.numberParticipants}} / {{event.maxNumberParticipants}}</span>
      </a>
    </div>
    <div ng-show="!myEvents.length">You have no upcoming events</div>
  </div>

  <div class="well">
    <legend>
      Upcoming events
    </legend>
      <div class="list-group" ng-repeat="event in allEvents | orderBy: 'startDate' | limitTo:3 ">
        <a href="#/event/{{event.$id}}" class="list-group-item">
          <div>{{event.start | date:"d MMM yyyy 'at' HH:mm"}}</div>
          <div>{{event.title}}</div>
          <span>{{event.location.name}}</span>
          <span class="badge">{{event.numberParticipants}} / {{event.maxNumberParticipants}}</span>
        </a>
      </div>
    <div ng-show="!!!allEvents.length">There are no upcoming events</div>
  </div>

  <div class="well">
    <legend>
      Calendar
    </legend>
    <div ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="calendar"></div>
  </div>

</div>


