<div class="content calendar-section">

  <div class="row">
  <div class="row col-md-8 col-md-offset-2">
      <div>
        <button ng-click="addNewEvent()" class="btn btn-primary glyphicon glyphicon-plus pull-right"> New event</button>
        <br> <!-- dit moet anders kunnen-->
        <br>
      </div>

      <div class="list-group" ng-repeat="event in allEvents | orderBy: 'startDate' | limitTo:3 ">
        <a href="" class="list-group-item">
          <span>{{event.title}}</span>
          <span>{{event.startDate}}</span>
          <span>{{event.location}}</span>
          <span class="badge">{{event.entries}}/{{event.maxEntries}}</span>
        </a>
      </div>

      <div ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="calendar"></div>

    </div>
  </div>

</div>


