<div class="content calendar-section">

  <div class="row">
  <div class="row col-md-8 col-md-offset-2">
      <div>
        <button ng-click="addNewEvent()" class="btn btn-primary glyphicon glyphicon-plus pull-right"> New event</button>
        <br> <!-- dit moet anders kunnen-->
        <br>
      </div>

      <div class="list-group" ng-repeat="event in allEvents | orderBy: 'startDate' | limitTo:3 ">
        <a href="#/event/{{event.$id}}" class="list-group-item">
          <div>{{event.start | date:"d MMM yyyy 'at' HH:mm"}}</div>
          <div>{{event.title}}</div>
          <span>{{event.location.name}}</span>
          <span class="badge">{{event.numberParticipants}} / {{event.maxNumberParticipants}}</span>
        </a>
      </div>

      <div ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="calendar"></div>

    </div>
  </div>

</div>


