<div class="content event-forms">

  <div class="col-xs-10 col-xs-offset-1 well">
      <fieldset>
        <legend>Event information</legend>

        <!--TODO: doorzichtige tabel van maken-->
        <div class="form-group">
          <div>
            <label>Title:</label>
            <span>{{selectedEvent.title}}</span>
          </div>
          <div>
            <label>Location:</label>
            <span>{{selectedEvent.location.name}}</span>
          </div>
          <div>
            <label>Start:</label>
            <span>{{selectedEvent.start}}</span>
          </div>
          <div>
            <label>End:</label>
            <span>{{selectedEvent.end}}</span>
          </div>
          <div>
            <label>Cost:</label>
            <span>€ {{selectedEvent.location.cost}}</span>
          </div>
          <div>
            <label>Number of participants:</label>
            <span>{{selectedEvent.numberParticipants}}</span>
          </div>
          <div>
            <label>Maximum participants:</label>
            <span>{{selectedEvent.maxNumberParticipants}}</span>
          </div>
          <div>
            <label>Spot info:</label>
            <span>{{selectedEvent.location.info}}</span>
          </div>
          <div>
            <label>Pro spot:</label>
            <span>{{selectedEvent.location.proSpot}}</span>
          </div>
        </div>

        <h6>Who's going?</h6>
        <br>
        <div class="form-group">
          <span ng-repeat="participant in participants">
            <img class="navbarImage img-circle" title="{{participant.username}}" ng-src="{{participant.picture}}" />
          </span>
        </div>

      </fieldset>
  </div>


  <div class="col-xs-10 col-xs-offset-1 well">

    <form name="signupForm" class="form-horizontal" novalidate ng-class="{'greyed-form': userSubscribed && !editParticipant}">
      <p ng-show="error" class="text-danger">{{ error }}</p>
      <fieldset>
        <legend>Subscription</legend>

        <div class="form-group">
          <label class="col-lg-2 control-label">Rent a kite?</label>
          <div class="col-lg-10">
            <toggle-switch
              model="participant.kiteRent"
              on-label="Yes"
              off-label="No"
              class="switch-success">
              <toggle-switch>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-2 control-label">Share a kite?</label>
          <div class="col-lg-10">
            <toggle-switch
              model="participant.shareKite"
              on-label="Yes"
              off-label="No"
              class="switch-success">
              <toggle-switch>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-2 control-label">Drive the bus?</label>
          <div class="col-lg-10">
            <toggle-switch
              model="participant.busDriverVolunteer"
              on-label="Yes"
              off-label="No"
              class="switch-success">
              <toggle-switch>
          </div>
        </div>

        <br><br>

        <div class="form-group">
          <div class="col-lg-8 col-lg-offset-2" ng-hide="userSubscribed && !editParticipant">
            <a href="#/calendar" class="btn btn-default">Cancel</a>
            <button type="submit" class="btn btn-primary" ng-click="signup()" ng-hide="editParticipant">Sign up for event</button>
            <button type="submit" class="btn btn-primary" ng-click="editSubscription()" ng-show="editParticipant">Save</button>
          </div>
        </div>
      </fieldset>

      <div class="overlay" ng-show="userSubscribed && !editParticipant" >
        <button id="editSubscription" ng-click="editParticipant = true" class="btn btn-warning">Edit</button>
        <button id="removeSubscription" ng-click="removeSubscription()" class="btn btn-danger">Leave event</button>
      </div>
    </form>
  </div>

  <div class="col-xs-10 col-xs-offset-1 well">
      <form ng-submit="addPost()" ng-show="signedIn()">
        <fieldset>
          <legend>Comments</legend>

          <div class="form-group">
            <div class="input-group col-xs-10 col-md-6">
              <textarea class="form-control custom-control" rows="1" id="textArea" ng-model="post.message" style="resize:none" placeholder="Enter text message"></textarea>
              <span class="input-group-btn">
                <button class="btn btn-primary btn-sm" type="button" ng-click="addPost()">Post</button>
              </span>
            </div>
          </div>

          <div class="form-group post-row" ng-repeat="post in posts">
            <div>
              <div class="info">
                {{ post.message }}
              </div>
              <div>
                <span>submitted by {{ post.creator }}</span>
                <a href="" ng-show="user.uid === post.creatorUID" ng-click="deletePost(post)">delete</a>
              </div>
              <br>
            </div>
          </div>


        </fieldset>
      </form>

    <br>

  </div>



</div>




