<div class="navbar-section" ng-controller="NavbarController">

  <nav id="navbar" class="navbar navbar-inverse" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ng-href="#/home"><img id="navbarLogo" src="images/Released-header.png" alt=""></a>
    </div>

    <div id="navbarCollapse" collapse="isCollapsed" class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li ng-class="{active: isActive('/home')}">
          <a ng-href="#/home" ng-click="doCollapse()">Home</a>
        </li>
        <li ng-show="signedIn()" ng-class="{active: isActive('/calendar')}">
          <a ng-href="#/calendar" ng-click="doCollapse()">Agenda</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">

        <li class="dropdown" ng-show="isAdmin()" ng-class="{active: isActive('/admin-users') || isActive('/admin-settings') }">
          <a class="dropdown-toggle" data-toggle="dropdown" href="" aria-expanded="false">
            Admin <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li ng-class="{active: isActive('/admin-users')}"><a href="#/admin-users" ng-click="doCollapse()">User overview</a></li>
            <li ng-class="{active: isActive('/admin-events')}"><a href="" ng-click="doCollapse()">Events overview</a></li>
            <li class="divider"></li>
            <li ng-class="{active: isActive('/admin-settings')}"><a href="#/admin-settings" ng-click="doCollapse()">Edit settings</a></li>
          </ul>
        </li>
        <li ng-show="signedIn()">
          <a ng-href="#/profile/{{ user.uid }}" ng-click="doCollapse()">
            <!--<img ng-src="http://www.gravatar.com/avatar/{{ user.profile.md5_hash }}" class="nav-pic" />-->
            {{ user.profile.username }}
          </a>
        <li ng-show="signedIn()">
          <a href="#/home" ng-click="logout()" ng-click="doCollapse()">Logout</a>
        </li>
        <li ng-hide="signedIn()" ng-class="{active: isActive('/login')}">
          <a href="#/login" ng-click="doCollapse()">Login</a>
        </li>
        <li ng-hide="signedIn()" ng-class="{active: isActive('/register')}">
          <a href="#/register" ng-click="doCollapse()">Register</a>
        </li>
      </ul>
    </div>

  </nav>

  <div>
    <alert class="animate" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{ alert.msg }}</alert>
  </div>

</div>


