<div class="content auth-forms">

  <div class="row col-xs-8 col-xs-offset-2">
    <form class="form-horizontal" ng-submit="register()">
      <p ng-show="error" class="text-danger">{{ error }}</p>
      <fieldset>
        <legend>Register new user</legend>
        <div class="form-group">
          <label for="inputEmail" class="col-lg-2 control-label">Email</label>
          <div class="col-lg-10">
            <input type="text" ng-model="user.email" class="form-control" id="inputEmail" placeholder="Email">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword" class="col-lg-2 control-label">Password</label>
          <div class="col-lg-10">
            <input type="password" ng-model="user.password" class="form-control" id="inputPassword" placeholder="Password">
          </div>
        </div>
        <div class="form-group">
          <label for="firstName" class="col-lg-2 control-label">First Name</label>
          <div class="col-lg-10">
            <input type="text" ng-model="user.firstName" class="form-control" id="firstName" placeholder="Username">
          </div>
        </div>
        <div class="form-group">
          <label for="lastName" class="col-lg-2 control-label">Last Name</label>
          <div class="col-lg-10">
            <input type="text" ng-model="user.lastName" class="form-control" id="lastName" placeholder="Username">
          </div>
        </div>
        <div class="form-group">
          <label for="inputUsername" class="col-lg-2 control-label">Username</label>
          <div class="col-lg-10">
            <input type="text" ng-model="user.username" class="form-control" id="inputUsername" placeholder="Username">
          </div>
        </div>
        <div class="form-group">
          <label for="phone" class="col-lg-2 control-label">Phone Number</label>
          <div class="col-lg-10">
            <input type="number" ng-model="user.phone" class="form-control" id="phone" placeholder="Phone Number">
          </div>
        </div>

        <div class="form-group">
          <label for="selectLevel" class="col-lg-2 control-label">Kite Level</label>
          <div class="col-lg-10">
            <select class="form-control" ng-model="user.level" id="selectLevel">
              <option>Beginner</option>
              <option>Lesser</option>
              <option>Deler</option>
              <option>Brookie</option>
              <option>Rookie</option>
              <option>Gevorderd</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Driver's License</label>
          <div class="col-lg-10">
            <div class="radio">
              <label>
                <input type="radio" ng-model="user.driversLicense" name="drivingLicenceTrue" id="drivingLicenceTrue" ng-value="true">
                Yes
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" ng-model="user.driversLicense" name="drivingLicenceFalse" id="drivingLicenceFalse" ng-value="false">
                No
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Own Gear</label>
          <div class="col-lg-10">
            <div class="radio">
              <label>
                <input type="radio" ng-model="user.ownGear" name="ownGearTrue" id="ownGearTrue" ng-value="true">
                Yes
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" ng-model="user.ownGear" name="ownGearFalse" id="ownGearFalse" ng-value="false">
                No
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Own Car</label>
          <div class="col-lg-10">
            <div class="radio">
              <label>
                <input type="radio" ng-model="user.ownCar" name="ownCarTrue" id="ownCarTrue" ng-value="true">
                Yes
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" ng-model="user.ownCar" name="ownCarFalse" id="ownCarFalse" ng-value="false">
                No
              </label>
            </div>
          </div>
        </div>



        <div class="form-group">
          <div class="col-lg-8 col-lg-offset-2">
            <button type="submit" class="btn btn-primary">Register</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>

</div>

