<div class="content user-section">

  <div class="col-xs-12 col-md-10 col-md-offset-1">

    <ul id="subnavbar" class="nav nav-pills">
      <li><a href="#/admin-users">Dashboard</a></li>
      <li><a href="#/admin-users">Profile</a></li>
      <li ng-show="isAdmin()" ng-class="{active: isActive('/admin-users') || isActive('/admin-settings') }">
        <a class="dropdown-toggle"  data-toggle="dropdown" href="" aria-expanded="false">
          Admin <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li ng-class="{active: isActive('/admin-users')}"><a href="#/admin-users" ng-click="doCollapse()">User overview</a></li>
          <li ng-class="{active: isActive('/admin-users')}"><a href="#/admin-users" ng-click="doCollapse()">Events overview</a></li>
          <li ng-class="{active: isActive('/admin-settings')}"><a href="#/admin-settings" ng-click="doCollapse()">Edit settings</a></li>
        </ul>
      </li>
    </ul>

  </div>

</div>
